:root {
  --srdigi-purple: #7c3aed;
  --srdigi-yellow: #fbbf24;
  --srdigi-pink: #ff6ee6;
  --srdigi-blue: #38bdf8;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.15'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.15'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

body, input, textarea, select, button, label {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

/* @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
} */

/* .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: 0;
} */

/* .background span {
    width: 8vmin;
    height: 8vmin;
    border-radius: 8vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 35;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #E45A84;
    top: 50%;
    left: 95%;
    animation-duration: 142s;
    animation-delay: -96s;
    transform-origin: 1vw 6vh;
    box-shadow: 16vmin 0 2.243664163380789vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 11%;
    left: 61%;
    animation-duration: 108s;
    animation-delay: -92s;
    transform-origin: -15vw -11vh;
    box-shadow: -16vmin 0 2.919600798868021vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 80%;
    left: 88%;
    animation-duration: 119s;
    animation-delay: -141s;
    transform-origin: -12vw -4vh;
    box-shadow: 16vmin 0 2.6225179161724252vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 32%;
    left: 92%;
    animation-duration: 24s;
    animation-delay: -91s;
    transform-origin: -23vw 12vh;
    box-shadow: 16vmin 0 2.153186392734266vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 86%;
    left: 87%;
    animation-duration: 128s;
    animation-delay: -121s;
    transform-origin: -15vw -14vh;
    box-shadow: 16vmin 0 2.4566628257445453vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 24%;
    left: 5%;
    animation-duration: 83s;
    animation-delay: -98s;
    transform-origin: 14vw 12vh;
    box-shadow: -16vmin 0 2.778500404527967vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 92%;
    left: 30%;
    animation-duration: 92s;
    animation-delay: -82s;
    transform-origin: 1vw -15vh;
    box-shadow: 16vmin 0 2.5202715649819156vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 21%;
    left: 89%;
    animation-duration: 55s;
    animation-delay: -32s;
    transform-origin: 15vw 3vh;
    box-shadow: -16vmin 0 2.553100204865999vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 77%;
    left: 93%;
    animation-duration: 97s;
    animation-delay: -89s;
    transform-origin: 25vw -7vh;
    box-shadow: -16vmin 0 2.217724748250214vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 69%;
    left: 73%;
    animation-duration: 112s;
    animation-delay: -21s;
    transform-origin: 12vw -12vh;
    box-shadow: -16vmin 0 2.0093598991498vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 88%;
    left: 75%;
    animation-duration: 76s;
    animation-delay: -51s;
    transform-origin: 18vw -17vh;
    box-shadow: 16vmin 0 2.3271292016109135vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 52%;
    left: 63%;
    animation-duration: 148s;
    animation-delay: -12s;
    transform-origin: -15vw -15vh;
    box-shadow: 16vmin 0 2.8469828097572885vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 79%;
    left: 40%;
    animation-duration: 119s;
    animation-delay: -20s;
    transform-origin: 0vw -7vh;
    box-shadow: -16vmin 0 2.6192522913125478vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 85%;
    left: 13%;
    animation-duration: 26s;
    animation-delay: -6s;
    transform-origin: -21vw 19vh;
    box-shadow: 16vmin 0 2.6036733789747126vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 70%;
    left: 15%;
    animation-duration: 134s;
    animation-delay: -1s;
    transform-origin: -22vw 6vh;
    box-shadow: 16vmin 0 2.032430364981711vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 30%;
    left: 90%;
    animation-duration: 99s;
    animation-delay: -5s;
    transform-origin: 20vw -9vh;
    box-shadow: -16vmin 0 2.4953685787880326vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 50%;
    left: 24%;
    animation-duration: 31s;
    animation-delay: -134s;
    transform-origin: -11vw -1vh;
    box-shadow: 16vmin 0 2.3546114451840685vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 17%;
    left: 32%;
    animation-duration: 126s;
    animation-delay: -108s;
    transform-origin: 14vw 1vh;
    box-shadow: 16vmin 0 2.753632489298684vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 88%;
    left: 33%;
    animation-duration: 153s;
    animation-delay: -114s;
    transform-origin: -14vw 18vh;
    box-shadow: -16vmin 0 2.1486130703726163vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 69%;
    left: 5%;
    animation-duration: 128s;
    animation-delay: -43s;
    transform-origin: 2vw 8vh;
    box-shadow: 16vmin 0 2.6657720230313107vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 10%;
    left: 45%;
    animation-duration: 22s;
    animation-delay: -116s;
    transform-origin: 9vw -20vh;
    box-shadow: -16vmin 0 2.9172273092379997vmin currentColor;
}
.background span:nth-child(21) {
    color: #583C87;
    top: 17%;
    left: 4%;
    animation-duration: 66s;
    animation-delay: -78s;
    transform-origin: 23vw -23vh;
    box-shadow: 16vmin 0 2.589092778744328vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 97%;
    left: 92%;
    animation-duration: 21s;
    animation-delay: -22s;
    transform-origin: 1vw 15vh;
    box-shadow: 16vmin 0 2.3410428890800703vmin currentColor;
}
.background span:nth-child(23) {
    color: #583C87;
    top: 77%;
    left: 77%;
    animation-duration: 125s;
    animation-delay: -143s;
    transform-origin: 10vw -15vh;
    box-shadow: -16vmin 0 2.9137213779365188vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 40%;
    left: 77%;
    animation-duration: 23s;
    animation-delay: -63s;
    transform-origin: -9vw -7vh;
    box-shadow: -16vmin 0 2.428358015609218vmin currentColor;
}
.background span:nth-child(25) {
    color: #583C87;
    top: 5%;
    left: 23%;
    animation-duration: 135s;
    animation-delay: -9s;
    transform-origin: 6vw -8vh;
    box-shadow: -16vmin 0 2.8976670697271447vmin currentColor;
}
.background span:nth-child(26) {
    color: #583C87;
    top: 48%;
    left: 85%;
    animation-duration: 118s;
    animation-delay: -137s;
    transform-origin: -19vw 17vh;
    box-shadow: 16vmin 0 2.9193688807959575vmin currentColor;
}
.background span:nth-child(27) {
    color: #583C87;
    top: 25%;
    left: 38%;
    animation-duration: 153s;
    animation-delay: -92s;
    transform-origin: -11vw -3vh;
    box-shadow: 16vmin 0 2.8411713834554533vmin currentColor;
}
.background span:nth-child(28) {
    color: #FFACAC;
    top: 84%;
    left: 11%;
    animation-duration: 88s;
    animation-delay: -57s;
    transform-origin: -10vw -19vh;
    box-shadow: -16vmin 0 2.08967975146866vmin currentColor;
}
.background span:nth-child(29) {
    color: #E45A84;
    top: 22%;
    left: 81%;
    animation-duration: 96s;
    animation-delay: -67s;
    transform-origin: 3vw 9vh;
    box-shadow: -16vmin 0 2.4740419805829013vmin currentColor;
}
.background span:nth-child(30) {
    color: #E45A84;
    top: 82%;
    left: 86%;
    animation-duration: 116s;
    animation-delay: -76s;
    transform-origin: 15vw 7vh;
    box-shadow: -16vmin 0 2.5528920756606714vmin currentColor;
}
.background span:nth-child(31) {
    color: #FFACAC;
    top: 65%;
    left: 36%;
    animation-duration: 119s;
    animation-delay: -21s;
    transform-origin: -23vw -14vh;
    box-shadow: -16vmin 0 2.2962084380502463vmin currentColor;
}
.background span:nth-child(32) {
    color: #FFACAC;
    top: 48%;
    left: 49%;
    animation-duration: 144s;
    animation-delay: -86s;
    transform-origin: -13vw 3vh;
    box-shadow: 16vmin 0 2.58691014473387vmin currentColor;
}
.background span:nth-child(33) {
    color: #583C87;
    top: 16%;
    left: 31%;
    animation-duration: 59s;
    animation-delay: -125s;
    transform-origin: 2vw -5vh;
    box-shadow: -16vmin 0 2.0459463160842852vmin currentColor;
}
.background span:nth-child(34) {
    color: #583C87;
    top: 64%;
    left: 68%;
    animation-duration: 122s;
    animation-delay: -40s;
    transform-origin: -21vw 22vh;
    box-shadow: 16vmin 0 2.7381413282285414vmin currentColor;
}
.background span:nth-child(35) {
    color: #FFACAC;
    top: 63%;
    left: 6%;
    animation-duration: 74s;
    animation-delay: -66s;
    transform-origin: 2vw -9vh;
    box-shadow: 16vmin 0 2.2836399734004496vmin currentColor;
}
.background span:nth-child(36) {
    color: #E45A84;
    top: 4%;
    left: 27%;
    animation-duration: 155s;
    animation-delay: -12s;
    transform-origin: -24vw 11vh;
    box-shadow: 16vmin 0 2.2836849672885595vmin currentColor;
}
.background span:nth-child(37) {
    color: #FFACAC;
    top: 69%;
    left: 41%;
    animation-duration: 126s;
    animation-delay: -12s;
    transform-origin: 1vw 12vh;
    box-shadow: 16vmin 0 2.4067144793782838vmin currentColor;
}
.background span:nth-child(38) {
    color: #583C87;
    top: 55%;
    left: 31%;
    animation-duration: 59s;
    animation-delay: -110s;
    transform-origin: -12vw -21vh;
    box-shadow: -16vmin 0 2.1163764337028033vmin currentColor;
}
.background span:nth-child(39) {
    color: #E45A84;
    top: 28%;
    left: 50%;
    animation-duration: 153s;
    animation-delay: -147s;
    transform-origin: 18vw -8vh;
    box-shadow: -16vmin 0 2.32572673150629vmin currentColor;
}
.background span:nth-child(40) {
    color: #583C87;
    top: 57%;
    left: 11%;
    animation-duration: 126s;
    animation-delay: -32s;
    transform-origin: 12vw 19vh;
    box-shadow: 16vmin 0 2.4600116523044986vmin currentColor;
}
.background span:nth-child(41) {
    color: #FFACAC;
    top: 89%;
    left: 78%;
    animation-duration: 118s;
    animation-delay: -59s;
    transform-origin: 8vw 21vh;
    box-shadow: -16vmin 0 2.448689371057854vmin currentColor;
}
.background span:nth-child(42) {
    color: #E45A84;
    top: 38%;
    left: 61%;
    animation-duration: 25s;
    animation-delay: -41s;
    transform-origin: 11vw 3vh;
    box-shadow: -16vmin 0 2.2279404429629937vmin currentColor;
}  */