:root {
  --srdigi-purple: #7c3aed;
  --srdigi-yellow: #fbbf24;
  --srdigi-pink: #ff6ee6;
  --srdigi-blue: #38bdf8;
  --srdigi-orange: #e6a834;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url('../public/bg-cadastro-de-influenciadores-layout--3.png');
}

body, input, textarea, select, button, label {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #FFF;
}